html, body{ margin:0; height:100%; }

body {
	padding: 57px 0px 0 0px;
}



/* 訊息 */

.alert {
	background: $green;
	color: $black;
	margin: 0 -15px ;
	padding: 15px 40px 15px 15px;;
	border-radius: 0;
	border: none;
}

.alert-warning {
	background: $red;
	color: #fff;
}

/* display */

.center {
  vertical-align: middle;
  text-align: center;
}

