html, body{ margin:0; height:100%; }

body {
	padding: 57px 0px 0 0px;
	color: $black;
}

.mt {
	margin-top: 15px;
}

.mt-more {
	margin-top: 30px;
}


.upload-page {
	margin: -17px -15px 0 -15px;
	padding: 30px 50px;
	padding-top:30px;
	background: #f3f1ed;
}


/* 訊息 */

.alert {
	background: $green;
	color: $black;
	margin: 0 -15px ;
	padding: 15px 40px 15px 15px;;
	border-radius: 0;
	border: none;
}

.alert-warning {
	background: $red;
	color: #fff;
}


/* display */

.bold {
  font-weight: bold;
}

.large {
  font-size: 19px;
}

.center {
  vertical-align: middle;
  text-align: center;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.margin-0 {
  margin: 0;
}

.margin-top {
  margin-top: 10px;
}


/* color */

.blue {
	color: $blue;
}

.green {
	color: $green;
}

.dark-green {
	color: $dark-green;
}

.red {
	color: $red;
}

.gray {
	color: $gray;
}

/* 字形 */

.fantasy {
	font-family: fantasy;
}

.cursive {
	font-family: cursive;
}

/* 大小 */

.lg {
	font-size: 18px;
}

.mid {
	font-size: 15px;
}

.half {
	width: 50%;
}
