.mt {
	margin-top: 15px;
}




/* 按鈕 */
.btn-lg {
  vertical-align: middle;
  text-align: center;
	background: $dark-green;
	color: #fff;
	display: block;
	border-radius: 0;
}

 .btn-1 {
 	background: $green;
 	color: $black;
 	padding: 5px 10px;
	border-radius: 0;
 }

 .btn-2 {
 	background: #f3f1ed;
 	color: $black;
 	padding: 5px 10px;
	border-radius: 0;
 }




/* hr */

.hr-1 {
	margin: 0;
}

.hr-green {
	border:0; 
	height:3px; 
	background: $green;
	color: $green
}

/* medal */

.medal {
	font-size: 15px;
	border: 2px solid $red;
	padding: 4px 9px;
	background: $red;
	color: #fff;
}

.medal-mo {
	border: 2px solid #d3be86;
	background: #fff;
	color: #d3be86;
	font-weight: bold;
}
