.mt {
	margin-top: 15px;
}




/* 按鈕 */
.btn-lg {
  vertical-align: middle;
  text-align: center;
	background: $black;
	color: $white;
	display: block;
}

 .btn-1 {
 	background: $black;
 	color: $white;
 	padding: 5px 15px;
 }

 .btn-2 {
 	background: #fff;
 	color:  $black;
 	padding: 5px 15px;
 }




/* hr */

.hr-1 {
	margin: 0;
}

.hr-green {
	border:0; 
	height:4px; 
	background: #b7bebc;
	color: #b7bebc
}


/* div */

.rl-border {
	padding: 5px 10px;
	border-left: 5px solid $black;
}
